:root {
	--clr-font: hsl(0 0% 80%);
	--clr-font-accent: hsl(0 0% 100%);
	--clr-bg: hsl(0 0% 20%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: var(--clr-font);
}

body {
	background-color: var(--clr-bg);
	color: var(--clr-font);
}

li {
	margin-top: 8px;
}

li.post-title {
	cursor: pointer;
}

li.post-title:hover {
	opacity: 0.6;
}

div.pages {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

h3.post-title {
	color: var(--clr-font-accent);
}

.loading {
	--clr-font: hsl(260 100% 70%);
}
.error {
	--clr-font: hsl(0, 100%, 70%);
}
.success {
	--clr-font: hsl(120, 100%, 70%);
}
